@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');

:host {
  
}

$gallery-img-scale: 300px;

.gallery-item {
    display: flex;
    float: left;
}

.img-responsive {
    max-height: 100%;
}

.img-responsive-wrapper {
    display: flex;
    height: $gallery-img-scale;
    margin: 10px;
}

#gallery-wrapper {
    width: 100%;
}