<div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>
  <p>Hello gallery?</p>
  <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>

  <button (click)="openFolderDialog()">Open Folder</button>

  <div id="gallery-wrapper">
    <div *ngIf="images.length > 0">
      <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
          <a *ngFor="let link of images" [href]="link" class="gallery-item">
          <div class="img-responsive-wrapper">
            <img [src]="thumbnails[0]" alt="Image" class="img-responsive">
          </div>
        </a>
      </lightgallery>
    </div>
  </div>

  <div id="gallery-wrapper">
    <!-- FIXME: Duplicated lightgallery is required for images to load from folder -->
    <!-- Well, what is truly required is to study JS and Angular :) Maybe someday... -->
    <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
    </lightgallery>
  </div>
</div>
