<div class="container">

  <!-- <div *ngIf="images.length == -1; else noImagesMessage"> -->
    <div id="open-image-folder" (click)="openFolderDialog()">Open Folder</div>
  <!-- </div> -->

  <input type="range" min="50" max="700" step="1" [(ngModel)]="iconSizeSlider" (input)="onSliderChange($event)">

  <div id="gallery-wrapper">
    <div *ngIf="images.length > 0">
      <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">

          <a *ngFor="let link of images; let i = index" [href]="link" class="gallery-item" [attr.data-index]="i+1">
            <div class="img-responsive-wrapper" [style.height.px]="iconSizeSlider">
              <img [src]="thumbnails[i]" alt="Image" class="img-responsive">
            </div>
            <!-- <span class="img-idx">{{ i + 1}}</span> -->
          </a>
        
      </lightgallery>
    </div>
  </div>

  <div id="gallery-wrapper">
    <!-- FIXME: Duplicated lightgallery is required for images to load from folder -->
    <!-- Well, what is truly required is to study JS and Angular :) Maybe someday... -->
    <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
    </lightgallery>
  </div>
</div>

<ng-template #noImagesMessage>
  <p>No images found</p>
</ng-template>